{% extends 'test/base.html.twig' %}

{% block title %}
  <title>{{ characterName }} Attack Calculator</title>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/attackCalculator.css') }}">
{% endblock %}

{% block content %}
<h1>{{ characterName }}</h1>
<div class="btn-group" role="group" aria-label="...">
{% for mod in toggleableModifiers %}
  <button type="button" id="{{"attackButton" ~ mod.UniqueName}}" class="btn btn-default" data-toggle="button" aria-pressed="false" onclick="attackButtonToggled('attackButton{{mod.UniqueName}}',{{mod.Modifier}},'totalAttackModifier')">{{mod.DisplayName}}</button>
{% endfor %}
  <p class="AttackModifierTotal" id="totalAttackModifier">{{baseModifier}}</p>
</div>

{% if companionName != "" %}
<h1>{{ companionName }}</h1>
<div class="btn-group" role="group" aria-label="...">
{% for mod in toggleableCompanionModifiers %}
  <button type="button" id="{{"attackButton" ~ mod.UniqueName}}" class="btn btn-default" data-toggle="button" aria-pressed="false" onclick="attackButtonToggled('attackButton{{mod.UniqueName}}',{{mod.Modifier}},'totalCompanionAttackModifier')">{{mod.DisplayName}}</button>
{% endfor %}
  <p class="AttackModifierTotal" id="totalCompanionAttackModifier">{{baseCompanionModifier}}</p>
</div>
{% endif %}

<script>
function attackButtonToggled(buttonID, value, totalID){
  //this function is called before the class list is toggled
  var total = Number(document.getElementById(totalID).innerHTML);
  //button is toggled off
  if(document.getElementById(buttonID).classList.contains("active"))
  {
    total = total - value;
  }
  else //button is toggled on
  {
    total = total + value;
  }
  document.getElementById(totalID).innerHTML = total.toString();
}
</script>
{% endblock %}
